<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img id = "practo-logo" src="img/practo.png"> </a>
    </div>
  </div>
</nav>