
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>payment portal</title>
    <script>
        function validate(){
    var val = document.forms["main-form"]["payment-cost"].value;
    if (val <= 0 ){
        alert("payment value cannot be less than 1");
        return false;
    }
    return true;
}
function canceltransaction(){
    alert("cancelled");
    return;
}
</script>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
        integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" 
        crossorigin="anonymous">
    <link rel="stylesheet" href ="./stylesheets/first.css">
</head>
<body>
    <div id = "main">
        <form id ="payment-form" name="main-form" class = "pure-form" 
                onsubmit="return validate()" method="GET" action="second">
            <input type="number"  placeholder="enter payment cost" 
                id = "payment-cost" name="val">
            <div id = "buttons">
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
                <button onclick="canceltransaction()" class="pure-button" type ="reset">Cancel</button>
            </div>
        </form>
    </div>
</body>
</html>
