<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Payment Portal</title>
    <script> 
        var cost = "<%= cost %>";
      //  alert(cost);
    </script>
</head>
<body>
    <% include partials/menu %>
   <div id = "root">
       not rendered
   </div>

   <link rel = "stylesheet" href="./stylesheets/second.css">
   <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
    integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" 
    crossorigin="anonymous">
    <script src="https://unpkg.com/react@16.4.1/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16.4.1/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.js"></script>
    <script type="text/babel" src="/javascripts/second.js"></script>
</body>
</html>