/* input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} */
html , body {
    height : 100%;
    width: 100%;
    background-color: lightgray;
    color: #77787c;
    font-family: 'Open Sans',Arial,sans-serif;
    line-height: 1.5;
}
#root-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows : 20% 60% 20%;
}
#root {
    grid-column-start: 2;
    grid-row-start : 2;
    background-color: white;
}

#card-form{
    width: 300px;
    height: 300px;
    margin: 60px auto 0;
    border:1px solid black;
    border-radius: 5%;
}
.card-header{
    text-align : center;
    height: 60px;
    padding: 20px 30px 0;
    border-bottom: 1px solid #e1e8ee;
}

.card-body{
    height: 280px;
    padding: 30px 30px 20px;
}
#card-title{
    font-size: 18px;
    margin: 0;
    color: #5e6977;
}
#cardNumber{
    width : 250px;
    height : 30px;
    border-radius: 1%;
}
.card-date{
    display: flex;
    justify-content: space-between;
}
.card-month .card-year{
    width: 145px;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 2px solid #e1e8ee;
    border-radius: 6px;
}
.card-verification{
    display: flex;
    justify-content: space-between;
}
#card-cvv-input{
    width : 50px;
}
#card-cvv-text{
    color: #5e6977;
    font-size: 8px;
}
#card-button-div{
    text-align: center;
}
.card-submit{
    background-color:#14BEF0;
}

#payment-text{
    color: white;
}
.card-container{
    grid-column-start: 2;
}

.upi-form{
    padding-top :50px;
    padding-left :20px;
}

#main{
    height:100%;
    width: 100%;
    display : grid;
    grid-template-rows: 10% 90%;
}
#main-top{
   text-align: center;
   background-color: #28328C;
}
#payment-text{
    padding: 3px 5px 3px 5px;
}
#main-bottom{
    display : grid;
    border-top: 1px solid black;
    grid-template-columns: 30% 70%;
}
.btn{
    border-radius: 0%;
}
#main-bottom-left{
    display: flex;
    flex-direction: column;
    border-right: #77787c solid 1px;
}

.fas{
    padding-right:30px;
}

/*MOBILE VIEW STARTS yayayayaya*/
@media (max-width: 730px){
    #practo-logo{
        padding-left:15px;
    }
    #root-container{
        grid-template-columns: 0% 100% 0%;
        grid-template-rows: 0% 100% 0%;
    }
    #main-bottom{
        display : flex;
        flex-direction: column;
    }
    #main-bottom-left{
        border-right:0px;
    }
}
