input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
html , body {
    height : 100%;
    width: 100%;
    background-color: lightgray;
    color: #4d4e53;
    font-family: 'Open Sans',Arial,sans-serif;
    line-height: 1.5;
}
#root-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows : 20% 60% 20%;
}
#root {
    grid-column-start: 2;
    grid-row-start : 2;
    
    background-color: white;
}
#main{
    height:100%;
    width:100%;
    display: grid;
    grid-template-columns: 25% 75%;
}
#left-main{
    text-align: center;
    display: grid;
    grid-template-rows: 15% 85%;
    flex-direction: column;
    
}
#left-main-top{
    grid-row-start: 1;
}
#left-main-bottom{
    grid-row-start: 2;
    display : flex;
    flex-direction: column;
}
#card-form{
    width: 360px;
    height: 300px;
    margin: 60px auto 0;
    border:1px solid black;
}
.card-header{
    text-align : center;
    height: 60px;
    padding: 20px 30px 0;
    border-bottom: 1px solid #e1e8ee;
}
.card-body{
    height: 280px;
    padding: 30px 30px 20px;
}
#card-title{
    font-size: 18px;
    margin: 0;
    color: #5e6977;
}
#cardNumber{
    width : 300px;
    height : 30px;
    border-radius: 5%;
}
.card-date{
    display: flex;
    justify-content: space-between;
}
.card-month .card-year{
    width: 145px;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 2px solid #e1e8ee;
    border-radius: 6px;
}
.card-verification{
    display: flex;
    justify-content: space-between;
}
#card-cvv-input{
    width : 50px;
}
#card-cvv-text{
    color: #5e6977;
    font-size: 8px;
}
#card-button-div{
    text-align: center;
}

#right-main{
    display: grid;
    grid-template-rows: 15% 85%;
    border-left: 1px solid black;
}
#right-main-top{
    text-align: center;
    border-bottom: 1px dashed black;
    text-decoration-color: white;
    background-color: #28318C;
}
#payment-text{
    color: white;
}
#right-main-bottom{
    display : grid;
    grid-template-columns: 25% 50% 25%;
}
.card-container{
    grid-column-start: 2;
}