html , body {
    height : 100%;
    width: 100%;
}
#root {
    height : 100%;
    width : 100%;
}
#main{
    height:100%;
    width:100%;
    display: grid;
    grid-template-columns: 25% 75%;
}
#left-main{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.btn{
    border:1px solid black;
}
#right-main{
    display: grid;
    grid-template-rows: 30% 70%;
    border-left: 2px solid black;
}
#right-main-top{
    text-align: center;
    border-bottom: 1px dashed black;
}
#right-main-bottom{
    text-align: center;
}